@font-face {
  font-family: 'Minecrafter';
  src: url('fonts/Minecrafter/Minecrafter.Reg.ttf');
}

@font-face {
  font-family: 'RetroComputer';
  src: url('fonts/RetroComputer/retro_computer_personal_use.ttf');
}
*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Minecrafter';
  color: #ffda41;
  text-shadow: 2px 2px 3.5px darkorange;
}

.logo-screen, .credits-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear, visibility 0s linear 1s;
}


.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear;
}

.company-logo {
  max-width: 50%;
  max-height: 50%;
}

.world {
  transform: scale(0);
  transition: transform 3s ease-in-out;
}

.world.grow {
  transform: scale(1);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url(imgs/Backgrounds/bg1.gif);
  background-size: cover;
  background-position: center;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 5vmin;
  right: 2vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.shark {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 25%;
  bottom: calc(var(--bottom) * 1%);
}

.obstacle {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 20%;
  bottom: 0;
}

.credits{
  text-align: center;
}

.credits .title-credits {
  color: cyan;
  text-shadow: 2px 2px 3.5px darkcyan;
}

.high-score {
  position: absolute;
  font-size: 3.5vmin;
  right: 2vmin;
  top: 5vmin;
  color: #f4a261;
  text-shadow: 2px 2px 3.5px #ff4040;
}

.menu-btn{
  position: absolute;
  right: 2vmin;
  top: 10vmin;
  padding: 10px 13px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-shadow: none;
  background-color: #92CD41;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px #999;
}

.menu-btn:hover {background-color: #75be0f}
.menu-btn:active {
  background-color: #75be0f;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden; 
}

.modal-content {
  background-color: #d7f4ff;
  margin: 15% auto; 
  padding: 15px;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  box-shadow: 2px 2px 2px 0.75px rgba(84, 84, 84, 0.75);
  overflow-y: scroll;
}

.title-modal{
  color: #135b77;
  text-shadow: 0.5px 0.5px 1px rgb(3, 44, 60);
  font-size: 35px;
}

.input-username{
  font-family: 'RetroComputer', monospace;
  color: rgb(3, 44, 60);
  font-size: 25px;
  text-shadow: none;
  text-align: center;
  width: 65%;
  height: 45px;
  border-radius: 10px;
  background-color: #d7f4ff;;
}

.user-label{
  color: #92CD41;
  text-shadow: 0.5px 0.5px 1px #477507;
  font-size: 25px;
  font-family: 'RetroComputer', monospace;
}

.submit-btn{
  padding: 10px 13px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-shadow: none;
  background-color: #92CD41;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px #999;
}

.submit-btn:hover {background-color: rgb(91, 148, 11)}
.submit-btn:active {
  background-color: rgb(91, 148, 11);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.close {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
  text-shadow: none;
}

.close:hover,
.close:focus {
  color: rgb(203, 7, 7);
  text-decoration: none;
  cursor: pointer;
}

.settingsclose {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
  text-shadow: none;
}

.settingsclose:hover,
.settingsclose:focus {
  color: rgb(203, 7, 7);
  text-decoration: none;
  cursor: pointer;
}

.username-entry-modal {
  display: none;
}

#leaderboard-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: 560px;
  overflow-y: scroll;
}

.lead-entry {
  color: #f4a261;
  text-shadow: 1px 1px 1.5px #ff4040;
  font-size: 27px;
  font-family: 'RetroComputer', monospace;
  text-align: right;
  margin-bottom: 10px; 
  align-self: flex-end;
}

.popup-menu {
  display: none; 
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #92CD41;
  font-family: 'RetroComputer', monospace;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 300px;
  z-index: 2;
}

#leaderboard-btn {
  background-color: #4336f4; 
  margin-right: 190px;
}

#leaderboard-btn:hover {background-color: #2f21f2}
#leaderboard-btn:active {
  background-color: #2f21f2;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#wardrobe-btn {
  background-color: #a12e81; 
  margin-right: 40px;
}

#wardrobe-btn:hover {background-color: #7b115d}
#wardrobe-btn:active {
  background-color: #7b115d;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#help-btn {
  background-color: #f44336;
  margin-right: -60px;
  margin-left: 20px;
}

#help-btn:hover {background-color: #d22115}
#help-btn:active {
  background-color: #d22115;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#settings-btn {
  background-color: #f4a261;
  margin-right: -200px;
}

#settings-btn:hover {background-color: #e5781f}
#settings-btn:active {
  background-color: #e5781f;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.helpmodal {
  display: none; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  z-index: 1000;
}

.helptitle {
  color: #000000; 
  font-size: 25px;
  font-family: 'RetroComputer', monospace;
  padding: 5px 0; 
  margin: 10px 0; 
  display: block; 
  text-align: center;
}
.helptitle2 {
  color: #4055b5;
  font-size: 20px;
  font-family: 'RetroComputer', monospace;
  padding: 5px 0; 
  margin: 10px 0; 
  display: block; 
  text-align: center; 
}

.helpinfo1 {
  color: #ffffff; 
  font-size: 20px;
  font-family: 'RetroComputer', monospace;
  padding: 5px 0; 
  margin: 10px 0; 
  display: block; 
  text-align: center;
}
.helpinfo2 {
  color: #ffffff; 
  font-size: 20px;
  font-family: 'RetroComputer', monospace;
  padding: 5px 0; 
  margin: 10px 0; 
  display: block; 
  text-align: center;
}


.helpmodal-content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fd5b5b;
  padding: 20px;
  border: 1px solid #888;
  width: auto; 
  max-width: 50%; 
  min-width: 300px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-sizing: border-box;
}

.helpclose {
  color: #aaa;
  position: absolute; 
  right: 20px; 
  top: 20px; 
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; 
}

.helpclose:hover,
.helpclose:focus {
  color: black;
  text-decoration: none; 
}

#settings-modal {
  display: none; 
  text-align: left;
  .modal-content{
    overflow-y: scroll;
    text-align: left;
  }
}